@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  width: 100%;
  height: 100vh;
  background-image: url(https://northfdl.com/img/clouds.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.App::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000a3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  /* background-color: #3a393959; */
  border-radius: 8px;
}

.container .row {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.wather-dis {
  margin-top: 32px;
}

.container .row .wather-image {
  width: 50%;
}

.container .row .wather-image img {
  width: 65%;
}

.container .row .wather-image p {
  color: #ffff;
  font-size: 24px;
}

.container .row .wather-dis h4 {
  font-size: 100px;
  font-weight:600;
  margin: 0px;
  color: #fff;
}

.container .row .wather-dis p {
  font-size: 30px;
  color: #fff;
  margin: 0px;
}

.cloud-det {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 45px;
}

.cloud-det .d-fex {
  display: flex;
  align-items: center;
  gap: 30px;
  text-transform: capitalize;
  font-weight: 500;
}

.cloud-det .d-fex p {
  font-size: 17px !important;
  color: #c9c9c9 !important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cloud-det .d-fex p svg{
  font-size: 35px;
}


h2 {
  font-weight: 600;
  color: #c9c9c9;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 400px;
}

.card h4 {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.city {
  display: none;
}

/* this is a serach box  */
.box {
  width: 300px;
  height: 40px;
  position: relative;
}  

input {
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
  width: 100%;
  height: 100%;
  background: none;
  color: #ffff;
  text-transform: capitalize;
  border: 1px solid #c7c7c7;
}


input::placeholder {
  color: #bebebe;
  font-style: italic;
}

button {
  position: absolute;
  top: 54%;
  right: 0;
  transform: translate(0%, -50%);
  border-radius: 7px;
  outline: none;
  border: none;
  color: #ffff;
  font-weight: 500;
  font-size: 17px;
  height: 90%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  background: transparent !important;
  cursor: pointer;
}


@media screen and (max-width:768px) {
  .container .row {
    flex-direction: row-reverse;
  }
  .city {
    margin: 0px;
    font-size: 20px;
  }

  .wather-dis .city_name{
    display: block !important;
  }

  .container .row .wather-dis h4 {
    font-size: 80px;
  }
}




@media screen and (max-width:600px) {
  .container .row {
    flex-direction: column-reverse;
  }

  .container .row .wather-dis h4 {
    font-size: 60px;
  }

  .container .row .wather-dis p {
    font-size: 15px;
  }
  .wather-dis .city_name{
    display: block !important;
  }

  .box {
    width: 100%;
  }

  .wather-dis {
    margin-top: 0px;
  }

  .cloud-det {
    gap: 10px;
    margin-top: 30px;
}
}